@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <div class="login-container">
        <h2>LOGIN</h2>

        <form asp-controller="Customer" asp-action="uploadPrescription" method="post">
           @*  <div class="input-group">
                <input type="email" name="Email" placeholder="Email" required />
            </div>
            <div class="input-group">
                <input type="password" name="Password" placeholder="Password" required />
            </div> *@

            <div class="button-group">
                <form asp-controller="Customer" asp-action="uploadPrescription" method="get" style="display:inline;">
                    <button type="submit" class="btn-login">Customer</button>
                </form>

                <form asp-controller="Pharmacy" asp-action="Index" method="get" style="display:inline;">
                    <button type="submit" class="btn-login">Pharmacist</button>
                </form>

                <form asp-controller="PharmacyManager" asp-action="Index" method="get" style="display:inline;">
                    <button type="submit" class="btn-login">Pharmacy Manager</button>
                </form>
            </div>


            <p class="signup-text">
                Don't have an account?
                <a asp-controller="Customer" asp-action="Register">Register</a>
            </p>
        </form>
    </div>

    <script src="~/js/Login.js" asp-append-version="true"></script>
</body>
</html>
