@model IbhayiPharmacy.Models.Active_Ingredient
@{
    ViewData["Title"] = "AddActiveIngredients";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

}



<!-- Add New Ingredient Form -->
<div class="card p-3">
    <h5 class="title-underline">New Ingredient</h5>
    <div class="card-body">
        <form asp-action="AddActiveIngredients" asp-controller="PharmacyManager" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Ingredient Name</label>
                <input asp-for="Name" type="text" class="form-control" id="ingredientName" placeholder="e.g. Paracetamol">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Ingredient</button>
        </form>
    </div>
</div>