@model IEnumerable<IbhayiPharmacy.Models.Supplier>
@{
    ViewData["Title"] = "Medication Suppliers";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="mt-3 text-end">
    <a asp-action="AddSuppliers" class="btn btn-success">+ Add New Supplier</a>
</div>
<div class="container mt-4">
    <div class="card p-3">
        <h5 class="title-underline">Existing Suppliers</h5>
        <div class="card-body">
            <table class="table table-hover table-border">
                <thead class="table-light" style="color: #2c3e50;">
                    <tr>
                        <th>Supplier Name</th>
                        <th>Contact Person</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                       
                        foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>@item.SupplierName</td>
                                <td>@item.ContactName</td>
                                <td>@item.EmailAddress</td>
                                <td>
                                    <button class="btn btn-sm btn-warning me-2">Edit</button>
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </td>
                            </tr>
                            
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">No suppliers available.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
